@model string
@{
    ViewData["Title"] = "Home Page";
}

<h2>Index</h2>

@*From: https://bl.ocks.org/mbostock/4062045*@
<script src="https://d3js.org/d3.v4.min.js"></script>
@*<script src="~/lib/d3/d3.min.js"></script>*@
<style>
    .links line {
        stroke: #999;
        stroke-opacity: 0.6;
    }

    .nodes circle {
        stroke: #fff;
        stroke-width: 1.5px;
    }
</style>
<svg width="1200" height="800"></svg>
<script>

    function UpdateGraph(graph) {
        var svg = d3.select("svg"),
            width = +svg.attr("width"),
            height = +svg.attr("height");

        var color = d3.scaleOrdinal(d3.schemeCategory10);

        var simulation = d3.forceSimulation()
            .force("link", d3.forceLink().id(function (d) { return d.name; }))
            .force("charge", d3.forceManyBody())
            .force("center", d3.forceCenter(width / 2, height / 2));

        var link = svg.append("g")
            .attr("class", "links")
            .selectAll("line")
            .data(graph.links)
            .enter().append("line")
            .attr("stroke-width", function (d) { return Math.sqrt(d.value); });

        var node = svg.append("g")
            .attr("class", "nodes")
            .selectAll("circle")
            .data(graph.nodes)
            .enter().append("circle")
            .attr("r", 5)
            .attr("fill", function (d) {
                //console.log(d.id + ":" + d.group);
                //https://bl.ocks.org/pstuffa/3393ff2711a53975040077b7453781a9
                if (d.group == 1) { return "rgb(31, 119, 180)"; } //blue
                else if (d.group == 2) { return "rgb(255, 127, 14)"; } //orange
                else if (d.group == 3) { return "rgb(44, 160, 44)"; } //green
                else if (d.group == 4) { return "rgb(214, 39, 40)"; } //red
                else if (d.group == 5) { return "rgb(204, 204, 0)"; } //dirty-yellow
                else if (d.group == 6) { return "rgb(102, 0, 204)"; } //purple
                else if (d.group == 7) { return "rgb(0, 204, 204)"; } //Aqua
                else if (d.group == 8) { return "rgb(204, 0, 102)"; } //pink
                else if (d.group == 9) { return "rgb(96, 96, 96)"; } //charcoal
                else { return color(d.group); }
            })
            //.attr("xlink:href", function(d) {
            //    var imagePath = "https://localhost:7015/images/" + "Icon_Iron_Ingot.png"; //d.image;
            //    console.log(imagePath);
            //    return imagePath;
            //})
            .call(d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
                .on("end", dragended));

        node.append("title")
            .text(function (d) { return d.name; });

        simulation
            .nodes(graph.nodes)
            .on("tick", ticked);

        simulation.force("link")
            .links(graph.links);

        function ticked() {
            link
                .attr("x1", function (d) { return d.source.x; })
                .attr("y1", function (d) { return d.source.y; })
                .attr("x2", function (d) { return d.target.x; })
                .attr("y2", function (d) { return d.target.y; });
            node
                .attr("cx", function (d) { return d.x; })
                .attr("cy", function (d) { return d.y; });
        }

        function dragstarted(d) {
            if (!d3.event.active) simulation.alphaTarget(0.3).restart();
            d.fx = d.x;
            d.fy = d.y;
        }

        function dragged(d) {
            d.fx = d3.event.x;
            d.fy = d3.event.y;
        }

        function dragended(d) {
            if (!d3.event.active) simulation.alphaTarget(0);
            d.fx = null;
            d.fy = null;
        }

    }

    //var myJson = '{"nodes":[{"id":"id1","group":1},{"id":"id3","group":3},{"id":"id2","group":2},{"id":"id4","group":2},{"id":"id5","group":2},{"id":"id6","group":1},{"id":"id7","group":1}],"links":[{"source":"id1","target":"id2","value":1},{"source":"id1","target":"id3","value":1},{"source":"id3","target":"id4","value":1},{"source":"id4","target":"id5","value":1},{"source":"id4","target":"id6","value":1},{"source":"id4","target":"id7","value":1}]}';
    //var graph = JSON.parse(myJson);
    var graph = @Html.Raw(Model);
    console.log(graph);
    UpdateGraph(graph)

</script>